$white: #fff;

/* MIXINS */
@mixin border-debug() {
  border: 1px solid $white;
}

/* GENERAL STYLING */
body {
  background-color: #085394;
  font-family: sans-serif;
  color: $white;
}

/* HEADER */
header img {
  width: 111px;
}

/* DASHBOARD OVERALL */
.vensa-dashboard {
  display: flex;
}

/* NAVIGATION */
.navigation {
  flex: 0 0 5rem;
  text-align: center;

  > div {
    padding: 0.8rem 0;

    &:hover {
      background-color: rgba($white ,0.3);
      cursor: pointer;
    }
  }

  a {
    color: $white;
    text-decoration: none;
  }
}

/* INBOX */
.inbox {
  flex: 0 0 55%;
  @include border-debug();
}

/* MESSAGE DETAIL */
.message-detail {
  flex: 0 0 20%;
  @include border-debug();
}

/* FOOTER */
footer {
  background-color: rgba(255,255,255,0.3);
  padding: 0.8rem;
  text-align: center;
}
