/* CONSTANTS */
$white: #ffffff;
$black: #000000;
$yellow: #FFFF00;
$red: #FF0000;
$green: #008000;
$opacityLevel: 0.3;

/* MIXINS */
@mixin border-debug() {
  border: 1px solid $white;
}

@mixin opaqueBackground($color) {
  background-color: rgba($color, $opacityLevel);
}

@mixin navOpaqueBackground($color) {
  @include opaqueBackground($color);
  cursor: pointer;
}

/* GENERAL STYLING */
body {
  background-color: #085394;
  font-family: sans-serif;
  color: $white;
  margin: 0;
}

a {
  color: $white;

  &:hover {
    color: darken($white, 33%);
  }
}

.red {
  color: $red;
}

.yellow {
  color: $yellow;
}

.green {
  color: $green;
}

/* HEADER */
header img {
  width: 111px;
}

/* DASHBOARD OVERALL */
.vensa-dashboard {
  display: flex;
}

/* NAVIGATION */
.navigation {
  flex: 0 0 5rem;
  text-align: center;

  a.active-link > .nav-item {
    @include navOpaqueBackground($white);
  }

  .nav-item {
    padding: 0.8rem 0.3rem;

    &:hover {
      @include navOpaqueBackground($white);
      color: $white;
    }
  }

  a {
    text-decoration: none;
  }
}

/* HOME PANEL */
.home.main-panel {
  background-color: transparent;
}

/* MAIN PANEL */
.main-panel {
  position: relative;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 80%;
  @include opaqueBackground($black);
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
}

@keyframes slideInFromLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.sliding-blade-enter .main-panel {
  animation: slideInFromLeft 300ms;
}

/* MESSAGE */
.message {
  flex: 0 0 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: $white;
  color: $black;
}

.inbox {
  flex: 0 0 65%;

  .loader {
    text-align: center;
  }

  .inbox-cell {
    cursor: pointer;
  }

  .cell-header a {
    color: $black;
    cursor: pointer;
  }

  .cell-header.active a {
    color: $green;
  }

  .close-button {
    color: $black;
  }
}

/* MESSAGE DETAIL */
.message-detail {
  flex: 1;
  min-height: 550px;

  table {
    margin: 3rem;
    border: 1px solid;
    border-collapse: collapse;
  }

  td {
    border-bottom: 1px solid $black;
    padding: 0.8rem;
  }

  p {
    text-align: center;
    background-color: darken($white, 33%);
    padding: 2rem;
    margin: 3rem 0.3rem;
    border-radius: 0.3rem;
  }
}

/* FOOTER */
footer {
  @include opaqueBackground($white);
  padding: 0.8rem;
  text-align: center;
}
